<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <div class="container">
    <form class="login-form" action="/user/login" method="post">
      <h2>Log In</h2>
      <label for="username">Email:</label>
      <input type="text" id="username" placeholder="Enter your Email" required name="email">
      <label for="password">Password:</label>
      <input type="password" id="password" placeholder="Enter your password" required name="password">
      <button type="submit">Log In</button>
      <button id="redirectSignup">Sign Up</button>
      
    </form>
  </div>
  <script>
    // Add an onclick event to the button
    document.getElementById("redirectSignup").onclick = function() {
        // Redirect to the otherpage.html
        window.location.href = "/";
    };
</script>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f1f1f1;
    }
    
    .container {
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding: 20px;
    }
    
    .login-form h2 {
      margin: 0;
      margin-bottom: 20px;
    }
    
    .login-form label {
      display: block;
      margin-bottom: 8px;
    }
    
    .login-form input {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    
    .login-form button {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      color: #fff;
      background-color: #007BFF;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      margin: 1px;
    }
    
    .login-form button:hover {
      background-color: #0056b3;
    }
  </style>
</body>
</html>
